@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import './variables.scss';

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $base-font;
    font-size: 1rem;
    margin: 0 auto;
    max-width: 80%;
}

h1 {
    font-size: 1.25rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.025rem;
    margin-bottom: 1.188rem;
}

.filter-block {
    background-color: $white;
    border-radius: $border-radius-lg;
    border: $input-border;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    margin: 0.7rem 0;
    padding: 1rem;
}
