$base-font: 'Open Sans', sans-serif;

// Colors
$bg-color: #fbfbfb;
$text-color: #1e2e3e;
$blue: #4fa7ea;
$gray: #aab5c4;
$gray-200: #e1e6ec;
$white: #fff;

// Hover Colors
$primary-hover: darken($blue, 20);
$hover: darken($gray, 20);

// Border Radius
$border-radius-sm: 0.3rem;
$border-radius-lg: 0.35rem;

// Font Sizes
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Borders
$input-border: 1px solid $gray;

// Transitions
$base-transition: all 200ms ease-in-out;
