@import '../../styles/variables.scss';

.generated-sql {
    background-color: $white;
    border-radius: $border-radius-lg;
    border: $input-border;
    display: flex;
    margin-top: 3rem;
    min-height: 8rem;
    padding: 1rem;

    pre {
        margin: 0;
    }

    code {
        background-color: transparent;
        border: none;
        font-size: 0.85rem;
        width: 100%;
    }

    textarea {
        background-color: transparent;
        border: none;
        font-family: $base-font;
        font-size: 1rem;
        padding: 1rem;
        resize: none;
        width: 100%;

        &::placeholder {
            display: block;
            font-size: 0.75rem;
            font-style: italic;
            height: calc(100% - 2.5rem);
            padding-top: 3.5rem;
            text-align: center;
        }

        &:focus {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba($blue, 0.6);
            outline: 0 none;
        }
    }
}
