@import '../../styles/variables.scss';

// The container must be positioned relative:
select {
    border-radius: $border-radius-sm;
    border: $input-border;
    display: flex;
    font-family: $base-font;
    font-weight: $font-weight-regular;
    margin: 0 0.25rem;
    padding: $input-padding;
    position: relative;
    width: 100%;
}
