@import '../../styles/variables.scss';

.filter-block {
    border-radius: 0.35rem;
    border: 1px solid $gray;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}
